<div class="background">


<img class="logo" src="https://cdn.discordapp.com/attachments/772847541560934451/839407508677591070/logo.png" alt="logo animali">

<h1 class="title">Animali</h1>

<div class="align">
    <%= link_to "Ajouter", new_article_path, :class => "add" %>
</div>


  <% @articles.each do |article| %>
    <div class="article">
      <div class="textarticle">
        <p class="textdate"><%= article.date %></p>
        <p class="text"><%= article.soin %></p>
        <p class="text"><%= article.animal %></p>
        <img class="nanimo" src="../../assets/<%= article.icon_path%>">

        <div class="parambox">
          <%= link_to image_tag("editer.png", :class => "param" ) , edit_article_path(article) %></a>
          <a><%= link_to image_tag("supprimer.png" , :class => "param") , article_path(article),
                          method: :delete,
                          data: { confirm: "Supprimer ?" } %></a>
        </div>
      </div>
    </div>
      
  <% end %>

<br>
<br>

</div>
