<!DOCTYPE html>
<html>
  <head>
    <title>Animali</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/772847541560934451/839407508677591070/logo.png" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
